img{

    padding-top: 30px;
    padding-left: 30px;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
  font-size: 20px;
}
li a{
    text-decoration: none;
    color: black;
}
.navbar2 ul{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 20px;
    list-style: none;
}
.navbar2 ul li a{
    text-decoration: none;
    color: white;
}